#Master user/password settings ### MUST add PASSWORD
DBNAME=xcitri
USERNAME=mgt
PASSWORD=<enter-password-here>
HOSTNAME=db
PORT=5432

#Django Settings ### MUST add DJANGO_EMAIL and DJANGO_SECRET_KEY

DJANGO_SUPERUSER=Ref
DJANGO_EMAIL=<enter-email-here>
DJANGO_SECRET_KEY=<enter-secret-key-here>
DJANGO_SUPERUSER_PASSWORD=${PASSWORD}
DB_INIT_FLAG=/var/lib/db_init/.db_initialized

# Email authentication settings
# Change "console" in the line below to "smtp" and complete and uncomment SMTP email settings below if you wish to use a real email acccount as your authentication server
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Your real SMTP details (if you wish to use real email authentication)
#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=
#EMAIL_USE_TLS=
#EMAIL_USE_SSL=
#EMAIL_TIMEOUT=

# Who should the emails appear to come from?
#DEFAULT_FROM_EMAIL=
#SERVER_EMAIL=

# Keep this if running server on current machine
MGT_URL="http://127.0.0.1:8000"

#Postgres settings - generally no change needed to these
POSTGRES_USER=$USERNAME
POSTGRES_HOST=$HOSTNAME
POSTGRES_PORT=$PORT
POSTGRES_PASSWORD=$PASSWORD
POSTGRES_DB=$DBNAME


#Other settings - generally no change needed to these
DEBUG=False
MLST_WEBSITE_PASSWORD=${PASSWORD}


