{% extends "Home/base.html" %}

<h3 class="title is-3"> Activate your account </h3>

<p>Please enter your activation key below to complete registration.</p>
<br>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.activation_key.errors }}
    <p>
      <label for="id_activation_key">{% trans "Activation Key:" %}</label>
      {{ form.activation_key }}
      <input class="btn btn-info" type="submit" value="'Activate account'" />
    </p>
</form>

{% endblock %}